<div class="container">
    <div class = "row justify-content-center p-4">
        
        <div class = "col-md-6">
            <form (ngSubmit)="login()" >
            <h3>Login:</h3>
            <div class = "form-group p-2">
                <input type="email" name="email" class="from-control" [(ngModel)]="email" placeholder="Email:" required>
            </div>
            <div class = "form-group p-2">
                <input type="password" name="password" class="from-control" [(ngModel)]="password" placeholder="Contraseña:" required> 
            </div>
            <div class = "form-group p-2">
                <button type = "submit" class = "btn btn-primary">Log In</button>
                <div class = "form-group p-2">
                    <a href = "a" routerLink = "/register">Registar Nuevo Usuario</a>
                </div>
            </div>
        </form>
        <div class="form/group">
            <p *ngIf="errorMessage.length > 0" class ="text-danger">
                {{errorMessage}}
            </p>
    
            <p *ngIf = "error.message.length > 0" class = "text-danger">
                {{error.message}}
            </p>
        </div>
        </div> 

    </div>
</div>